<h1><%= @journal_entry.title %></h1>

<p><strong>Date:</strong> <%= @journal_entry.created_at.strftime("%B %d, %Y") %></p>

<p><strong>Category:</strong> <%= @journal_entry.category.name if @journal_entry.category %></p>

<hr>

<div>
  <p><%= simple_format(@journal_entry.content) %></p>
</div>

<%# Tag + Prompt features will be re-enabled later %>
<%# if @journal_entry.prompt.present? %>
<%#   <p><strong>Prompt:</strong> <%= @journal_entry.prompt.text %></p> %>
<%# end %>

<%# if @journal_entry.tags.any? %>
<%#   <p><strong>Tags:</strong>
<%#     <%= @journal_entry.tags.map(&:name).join(", ") %>
<%#   </p> %>
<%# end %>


<p><%= link_to "Back to journal entries", journal_entries_path %></p>
