<!DOCTYPE html>
<html>
  <head>
    <title>Peace of Mind (POM)</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="app-header">
      <div class="logo-container">
        <%= link_to root_path do %>
        <%= image_tag "pom_background.png", class: "pom-logo", alt: "POM logo" %>
        <% end %>
      </div>

      <% if logged_in? %>
        <div class="nav-auth">
          <span class="welcome-text">Welcome, <%= current_user.first_name %>!</span>
          <%= button_to "Logout", logout_path, method: :delete, class: "btn logout" %>
        </div>
      <% end %>
    </header>

    <main>
      <% flash.each do |type, message| %>
        <div class="flash <%= type %>"><%= message %></div>
      <% end %>

      <%= yield %>
    </main>

    <footer class="app-footer">
      <p>
        Made with 💚 by Tia · Peace of Mind (POM) App © <%= Time.now.year %>
      </p>
    </footer>
  </body>
</html>
